p         {color: #ffffff; font-size: 14; font-weight:normal; font-family: Arial, Helvetica, sans-serif; }
h1        {color: #ffffff; font-size: 24; font-weight:heavy; font-family: Arial, Helvetica, sans-serif; }
h2        {color: #ffffff; font-size: 15; font-family: Arial, Helvetica, sans-serif; padding-top: 12px; border-top: 3px ; border-top-style: solid; border-top-color: #ff1c07; }
h3        {color: #ffffff; font-size: 14; font-family: Arial, Helvetica, sans-serif; font-weight:normal; padding-top: 6px; border-top: 1px ; border-top-style: solid; border-top-color: #ffff66; }
h4        {color: #ffffff; font-size: 18; font-weight:normal; font-family: Arial, Helvetica, sans-serif; }
li         {color: #ffffff; font-size: 14; font-weight:normal; font-family: Arial, Helvetica, sans-serif; }
a:link    {color: #9b9712; font-size: 14; font-family: Arial, Helvetica, sans-serif; }
a:visited {color: #666666; font-size: 14; font-family: Arial, Helvetica, sans-serif; }
a:hover   {color: #ffff66; font-size: 14; font-family: Arial, Helvetica, sans-serif; }
pre       {font-size: 14; color: #ffffff; font-family: "Consolas", Courier, monospace ; }
body      {background-color: #333333; color:#000000; font-family: Arial, Helvetica, sans-serif; font-size: 12;}
